@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Unkempt:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Unkempt', cursive;
    background: #E3DFFF;
    color: #3A3335;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #3A3335;
    padding: 20px;
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #937666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}
.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    padding: 8px 16px;
    border: 1px solid #937666;
    background: #D3C0CD;
    text-decoration: none;
    color: #3A3335;
    border-radius: 4px;
    font-size: 14px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    margin: 20px 0 10px;
    font-size: 20px;
    font-family: 'Rubik Spray Paint', cursive;
    color: #3A3335;
}

#grid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10%;
}

.placeholder {
    height: 200px;
    width: 200px;
    margin: 1%;
    border: 5px solid red;
    border-radius: 20px;
}